@use '../utils/variables';
@use '../utils/mixins';

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: max-width variables.$transition-normal;

  @include mixins.sm {
    max-width: variables.$screen-sm;
  }

  @include mixins.md {
    max-width: variables.$screen-md;
  }

  @include mixins.lg {
    max-width: variables.$screen-lg;
  }

  @include mixins.xl {
    max-width: variables.$screen-xl;
  }
}
